POSTGRES_DB='database name'
POSTGRES_USER='database username'
POSTGRES_PASSWORD='database password'   

API_WORKDIR='working directory for the API container'
API_BIN_PATH='directory where the api binary will be placed inside the API cotnainer after build'
MIGRATIONS_DIR_PATH='path to the migrations directory inside the API container'